  /* ---------- LINKS --------- */
  a:link,
  a:visited {
   text-decoration: none;
   color: $color-dark-grey;
  }
 
  a:hover,
  a:active {
    text-decoration: none;
    color: $color-dark-grey;
  }

  .show-link {
    border-bottom: 0.1rem solid $color-dark-grey;
    transition: 0.3s ease all;
  }

  .show-link:hover {
    padding-bottom: 0.5rem;
    transition: 0.3s ease all;
  }