  /* ---------- LINKS --------- */
  a:link,
  a:visited {
   text-decoration: none;
   color: $color-dark-grey;
  }
 
  a:hover,
  a:active {
    text-decoration: none;
    color: $color-dark-grey;
    border-bottom: 0.1rem solid $color-dark-grey;
  }

  .show-link {
    border-bottom: 0.1rem solid $color-dark-grey;
  }


  .blinking-link {
    @extend .show-link
  }