 .button {
  background-color: $color-dark-grey;
  padding: 1.5rem 2.5rem;
  color: $color-white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: $default-font-size;
  margin: 1rem;
  width: 15rem;

  // @include headers;

  @include respond(sm) {
    width: 25rem;
    padding: 1.5rem 2rem;
  }

  @include respond(xs) {
    width: 30rem;
    padding: 1.5rem 2rem;
  }
}