.name-plate {
  font-size: 4rem;
  font-weight: 400;
}

.tag-line {
  color: $color-medium-grey;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
  margin-top: 0.5rem;
}

 .nav {
  display: flex;
  width: 70rem;
  border-top: 0.1rem solid $color-medium-grey;
  border-bottom: 0.1rem solid $color-medium-grey;
  margin: 2rem auto 3rem auto;
  padding: 1rem 0;

  @include respond(sm) {
    width: 85%;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    li {
      margin: 1rem;
      font-size: $default-font-size;
    }
  }

}