---
path: '/'
date: '2020-06-23'
title: '' // 50-60 characters
summary: '' // 160 max characters
featuredImage: "DSC1751.jpg"
featuredImageAlt: 'A description of what is in the image (not a caption)'
topic: 'Emotional Wellbeing'
topic: 'Inclusion'
topic: 'Design'
topic: 'Technology'
topic: 'Intentional Living'
topic: 'Personal Essays'
topic: 'Recipes'
---