// COLORS
$color-primary: #315937;
$color-primary-medium: #69866D;
$color-primary-light: #A1B3A4;

$color-primary-opacity-50: rgba(49,89,55, 0.75);

$color-dark-grey: #52524E;
$color-medium-grey: #9A9B94;
$color-light-grey: #E9E9E8;

$color-white: #FAFAFA;
$color-black: #151514;

// FONT
$default-font-size: 1.6rem;