 /* ---------- ABOUT --------- */

 .flex-column {
  display: flex;
  flex-direction: column;
 }

.profile-container {
  margin: 0 auto 2rem auto;
}
.profile {
  width: 15rem;
  border-radius: 50%;
  margin: 0 auto;

}
