 /* ---------- BLOG --------- */
 .blog-list {
  margin: 10px 0px;
 }

 .blog-title {
  letter-spacing: 1.2px;
 }

 .blog-date {
  font-style: italic;
  color: $color-medium-grey;
 }

 .blog-post-content {
   padding-top: 35px;
 }

 .blog-post-content p {
   line-height: 1.75;
   margin-bottom: 20px;
 }

 .blog-post-content ul {
   list-style-type: circle;
 }

 .blog-post-content ul li{
  margin-left: 30px;
}