 .blog {

  &-list {
    margin: 1rem 0rem;
    font-size: 2rem;
  }

  &-title {
    letter-spacing: 0.12rem;
    font-size: 3rem;
    font-weight: 400;
  }

  &-date {
    font-style: italic;
    color: $color-medium-grey;
  }

  &-post {

    &-content {
      padding-top: 3.5rem;

      p {
        line-height: 1.75;
        margin-bottom: 2rem;
      }

      ul {
        list-style-type: circle;
        margin-bottom: 2rem;
      }

      ul li {
        margin-left: 3rem;
      }

      li p {
        margin-bottom: 0;
      }

      blockquote {
        padding-left: 1.5rem;
        border-left: 1px solid $color-medium-grey;

        p {
          margin: 0;
        }
      }
    }

    a {
      border-bottom: 0.1rem solid $color-dark-grey;
      transition: 0.3s ease all;
    }
    a:hover {
      padding-bottom: 0.5rem;
      transition: 0.3s ease all;
    }
  }

}
