.photo {

  &-gallery-wrap {
    width: 70rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    @include respond(sm) {
      width: 90%;
    }

    @include respond(xs) {
      width: 100%;
      max-width: 43rem;
      justify-content: space-evenly;
    }

    .flex-container & .photo-gallery-wrap {
      padding: 0;
    }

    a:hover, a:active {
      border: none;
    }

    .photo-container {
      width: 23rem;

      @include respond(sm) {
        width: 20rem;
      }

      @include respond(xs) {
        width: 17rem;
        // width: 45%;
      }
    }
  }

  &-orientation-landscape {
    display: flex;
    max-height: 15rem;
    max-width: 24rem;
  }

  &-orientation-portrait {
    display: flex;
    max-height: 24rem;
    max-width: 15rem;
    margin: 2.5rem auto;

    @include respond(sm) {
      max-height: 19rem;
      margin: 1.5rem auto;
    }
  }
}

.container_9tizg4 {
  background-color: rgba(0, 0, 0, 0.9) !important;
  background: rgba(0, 0, 0, 0.9) !important;
}
