.photo {

  &-gallery-wrap {
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
  
    //  @include respond(xs) {
    //    justify-content: space-between;
    //  }
   }

  &-orientation-landscape {
    max-height: 15rem;
    margin: 2.5rem 1rem;

    @include respond(sm) {
      max-height: 12.6rem;
      margin: 1.5rem 1rem;
    }

    @include respond(xs) {
      max-height: 10.3rem;
      margin: 1.5rem 0.5rem;
    }
  }

  &-orientation-portrait {
    max-height: 24rem;
    margin: 2.5rem 1rem;

    @include respond(sm) {
      max-height: 19rem;
      margin: 1.5rem 1rem;
    }

    @include respond(xs) {
      max-height: 15.5rem;
      margin: 1.5rem 0.5rem;
    }
  }

 }
