:root {
  --color-dark-grey: #52524E;
  --color-medium-grey: #9A9B94;
  /* --color-primary-grey: #D4D6C8; */
  --color-primary-grey: #D9D9D3;
  --color-light-grey: #E9E9E5;
  --color-white: #f5f5f5;
  --color-black: #000000;
}

/* ---------- BASIC SETUP ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-primary-grey);
  font-size: 16px;
}

main {
  display: flex;
}

 h1, h2, h3, h4, h5 {
   font-family: 'Raleway', sans-serif;
   color: var(--color-dark-grey);
 }

 a, p {
   font-family: 'Open Sans', sans-serif;
   line-height: 1.5;
   margin: 8px 0px;
 }

 a:hover {
   text-decoration: none;
 }


 /* ---------- COLORS --------- */
 .dark-grey {
   background-color: var(--color-dark-grey);
   width: 100px;
   height: 100px;
 }

 .medium-grey {
   background-color: var(--color-medium-grey);
   width: 100px;
   height: 100px;
 }

 .primary-grey {
   background-color: var(--color-primary-grey);
   width: 100px;
   height: 100px;
 }

 .light-grey {
   background-color: var(--color-light-grey);
   width: 100px;
   height: 100px;
 }

 .white {
   background-color: var(--color-white);
   width: 100px;
   height: 100px;
 }

 .black {
   background-color: var(--color-black);
   width: 100px;
   height: 100px;
 }


 /* ---------- SPACING --------- */
.space-above {
  margin-top: 25px;
}

.space-below {
  margin-bottom: 25px;
}

.space-below-m {
  margin-bottom: 50px;
}

.center {
  text-align: center;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  background-color: var(--color-light-grey);
  padding: 70px;
  margin: 0 auto;
  border-radius: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 630px;
  background-color: var(--color-white);
  padding: 50px;
  border-radius: 5px;
}

.profile {
  width: 300px;
  border-radius: 5px;
}

.border {
  border: 1px solid black;
}
