:root {
  /* Used for text */
  --color-dark-grey: #52524E;
  /* --color-medium-grey: #9A9B94; */

  --color-medium-grey: #F2F3F4;
  /* --color-primary-grey: #D4D6C8; */
  /* --color-primary-grey: #D9D9D3; */
  --color-primary-grey: #F8F9F9;
  --color-light-grey: #E9E9E5;
  --color-white: #f5f5f5;
  --color-black: #000000;
}

/* ---------- BASIC SETUP ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* background-color: var(--color-primary-grey); */
  background-color: #f2f3f4;
  font-size: 16px;
}

main {
  display: flex;
}

 h1, h2, h3, h4, h5 {
   font-family: 'Raleway', sans-serif;
   color: var(--color-dark-grey);
 }

 a, p {
   font-family: 'Open Sans', sans-serif;
   line-height: 1.5;
   margin: 8px 0px;
 }

ul {
  list-style-type: none;
 }

 a:hover {
   text-decoration: none;
 }


 /* ---------- COLORS --------- */
 .dark-grey {
   background-color: var(--color-dark-grey);
   width: 100px;
   height: 100px;
 }

 .medium-grey {
   background-color: var(--color-medium-grey);
   width: 100px;
   height: 100px;
 }

 .primary-grey {
   background-color: var(--color-primary-grey);
   width: 100px;
   height: 100px;
 }

 .light-grey {
   background-color: var(--color-light-grey);
   width: 100px;
   height: 100px;
 }

 .white {
   background-color: var(--color-white);
   width: 100px;
   height: 100px;
 }

 .black {
   background-color: var(--color-black);
   width: 100px;
   height: 100px;
 }


 /* ---------- SPACING --------- */
.space-above {
  margin-top: 25px;
}

.space-below {
  margin-bottom: 25px;
}

.space-below-m {
  margin-bottom: 50px;
}


 /* ---------- NAV --------- */
.nav {
  width: 700px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin: 40px auto;
  padding: 20px 0;
}

.nav ul {
  text-align: center;
}
.nav ul li {
  display: inline;
  padding: 60px;
}

.bottom-divider {
  border-bottom: 1px solid #000000;
}


.center {
  text-align: center;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  /* background-color: var(--color-light-grey); */
  /* background-color: #f2f3f4; */
  padding: 70px;
  margin: 0 auto;
  border-radius: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 630px;
  /* background-color: var(--color-white); */
  /* background-color: #fafafa; */
  padding: 50px;
  border-radius: 5px;
}

.profile {
  width: 300px;
  border-radius: 50%;
}

.border {
  border: 1px solid black;
}
