/* $landscape: 1279px;
$portrait: 968px;
$mobile: 792px; */

/* https://material.io/guidelines/layout/responsive-ui.html */


/* ----- mobile & tablet ----- */
@media screen and (max-width: 659px){
  .nav {
    width: 350px;
  }

  .nav ul li {
    padding: 35px;
  }

  .flex-container {
    width: 400px;
    padding: 0 25px;
   }
  
   .non-flex-container {
    width: 400px;
    padding: 0 25px;
   }
}

/* ----- extra small screens ----- */
@media screen and (max-width: 399px){
  .nav {
    width: 300px;
  }

  .nav ul li {
    padding: 25px;
  }

  .flex-container {
    width: 300px;
    padding: 0 15px;
   }
  
   .non-flex-container {
    width: 300px;
    padding: 0 15px;
   }

   .habit-result {
    padding: 20px 40px;
  }

}