@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600|Raleway:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway);

h1, h2, h3, h4, h5, p {
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Lato', sans-serif; */
  color: $color-dark-grey;
}

a, p, li {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 8px 0px;
  color: $color-dark-grey;
}