@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700|Montserrat:400,500,600|Nunito:300,400,600&display=swap');

@mixin headers() {
  font-family: 'Raleway', sans-serif;
  // font-family: 'Nunito', sans-serif;
  font-family: 'Montserrat', sans-serif;  

  color: $color-dark-grey;
}

a, p, li {
  color: $color-dark-grey;
  font-family: 'Montserrat', sans-serif;  
  font-size: $default-font-size;
  line-height: 1.5;
  margin: 0.8rem 0rem;
}

figcaption{
  color: $color-dark-grey;
  font-family: 'Montserrat', sans-serif;  
  font-size: $default-font-size;
  font-size: 1rem;

  a {
  font-size: 1rem;
  }
}

h1 {
  @include headers;
  font-size: 4.8rem;
  font-weight: 400;
}
h2 {
  @include headers;
  font-size: 3.2rem;
  // font-weight: 600;
  font-weight: 500;
}
h3 {
  @include headers;
  font-size: 2.4rem;
  // font-weight: 600;
  font-weight: 500;

}

h4 {
  @include headers;
  font-size: 2rem;
  // font-weight: 600;
  font-weight: 500;

}

h5 {
  @include headers;
}
