 /* ---------- SPACING --------- */

 .flex-container {
  width: 70rem;
  display: flex;
  margin: 0 auto 3rem auto;

  @include respond(tab-port) {
    width: 85%;
    padding: 0 2.5rem;
  }

}

 .non-flex-container {
  width: 70rem;
  margin: 0 auto 3rem auto;

  @include respond(tab-port) {
    width: 40rem;
    padding: 0 2.5rem;
  }

  @include respond(phone) {
    width: 30rem;
    padding: 0 1.5rem;
  }
}

.space-above {
  margin-top: 2.5rem;
}

.space-below {
  margin-bottom: 2.5rem;
}

.space-above-m {
  margin-top: 5rem;
}

.space-below-m {
  margin-bottom: 5rem;
}

.space-around {
  justify-content: space-around;
}

.wrap  {
  flex-wrap: wrap;
}




 /* ---------- CENTERING THINGS --------- */
.center {
  text-align: center;
}

 /* ---------- TEXT HIGHLIGHT COLOR --------- */
::selection {
  background-color: $color-dark-grey;
  color: $color-white;
}